@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,400;1,700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
* {
    text-decoration: none;
    list-style: none;
    font-family: "Tajawal", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

body {
    background-color: #dfdfdf;
}

.mail .container{
 background-color: #fff;
 padding: 10px;
 border-radius: 10px;
    margin: 40px 10px;
}
.mail .container h1{
    text-align: center;
    color: #4516ec;
}
.mail .container .main span{
    padding: 10px auto;
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
}