<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/stylw.css">
</head>
<body>
    

    <div class="mail">
        <div class="container">
            <div class="title">
                <h1>Title the project</h1>
            </div>
           <div class="main">
               <h2>Name: Huziafa karem </h2>
               <p>Email: huzaifa@gmail.com</p>
               <p>phone: 077455748</p>
               <p>addres: huzaifa@gmail.com</p>
               <span>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa consequatur expedita suscipit voluptatibus praesentium qui porro dolore quo iste atque necessitatibus, iusto veritatis exercitationem non quaerat odio obcaecati corporis adipisci.
               </span>
           </div>
        </div>
    </div>

</body>
</html>